/* Define a posição da div que contém o conteúdo definido pelo ui-view */
.box1 {
    display: flex;
    box-sizing: border-box;
    min-width: 100%;
    max-height: 100%;
    flex: 1 1 100%;
    border: 2px solid pink
    
}

/* Rodapé */
footer {
   border: 2px solid pink; 
}

.navBardemoBasicUsage md-content .ext-content {
  padding: 50px;
  margin: 20px;
  background-color: #FFF2E0; 
}

