<div ng-controller="AutoAvaliacaoController" class="md-padding" ng-cloak>
    <div>
        <h1 class="md-title"><i>O que você está sentindo hoje?</i></h1><br/>

        <div>
           
        <div class="row">
          
            <div class="col-md-4">
            <md-input-container class="md-icon-float md-block">
              <label>Febre</label>
              <md-select ng-model="autoavaliacao.nivelFebre" required="true">
                <md-option ng-repeat="f in febre" value="{{f}}" >
                  {{f}}
                </md-option>
              </md-select>
            </md-input-container>
            </div>
            
            <div class="col-md-4">
            <md-input-container class="md-icon-float md-block">
              <label>Sangramento</label>
              <md-select ng-model="autoavaliacao.sangramento" required="true">
                <md-option ng-repeat="s in sangramento" value="{{s}}" >
                  {{s}}
                </md-option>
              </md-select>
            </md-input-container>
            </div>
            
            <div class="col-md-4">
            <md-input-container class="md-icon-float md-block">
              <label>Falta de ar</label>
              <md-select ng-model="autoavaliacao.faltaDeAr" required="true">
                <md-option ng-repeat="fa in faltaAr" value="{{fa}}" >
                  {{fa}}
                </md-option>
              </md-select>
            </md-input-container>
            </div>
                
            
        </div>
            
        <div class="row">
            <div class="col-md-4">
            <md-input-container class="md-icon-float md-block">
              <label>Cansaço</label>
              <md-select ng-model="autoavaliacao.cansaco" required="true">
                <md-option ng-repeat="c in cansaco" value="{{c}}" >
                  {{c}}
                </md-option>
              </md-select>
            </md-input-container>
            
            </div>
            
            <div class="col-md-4">
            <md-input-container class="md-icon-float md-block">
              <label>Tosse</label>
              <md-select ng-model="autoavaliacao.tosse" required="true">
                <md-option ng-repeat="t in tosse" value="{{t}}" >
                  {{t}}
                </md-option>
              </md-select>
            </md-input-container>
            </div>
            
            <div class="col-md-4">
            <md-input-container class="md-icon-float md-block">
              <label>Dor de garganta</label>
              <md-select ng-model="autoavaliacao.dorDeGarganta" required="true">
                <md-option ng-repeat="dg in dorGarganta" value="{{dg}}" >
                  {{dg}}
                </md-option>
              </md-select>
            </md-input-container>
            </div>
        </div>
            
        <div class="row">
            <div class="col-md-4">
            <md-input-container class="md-icon-float md-block">
              <label>Dor de cabeça</label>
              <md-select ng-model="autoavaliacao.dorDeCabeca" required="true">
                <md-option ng-repeat="cef in cefaleia" value="{{cef}}" >
                  {{cef}}
                </md-option>
              </md-select>
            </md-input-container>
            </div>
            <div class="col-md-4">
            <md-input-container class="md-icon-float md-block">
              <label>Dormência nas pernas</label>
              <md-select ng-model="autoavaliacao.dormenciaNasPernas" required="true">
                <md-option ng-repeat="dp in dormenciaPerna" value="{{dp}}" >
                  {{dp}}
                </md-option>
              </md-select>
            </md-input-container>
            </div> 
            <div class="col-md-4">
            <md-input-container class="md-icon-float md-block">
              <label>Dormência nos braços</label>
              <md-select ng-model="autoavaliacao.dormenciaNosBracos" required="true">
                <md-option ng-repeat="db in dormenciaBraco" value="{{db}}" >
                  {{db}}
                </md-option>
              </md-select>
            </md-input-container>
            </div>
        </div>   
 
        <div class="row">
            <div class="col-md-4">
            <md-input-container class="md-icon-float md-block" width="48">
              <label>Tontura</label>
              <md-select ng-model="autoavaliacao.tontura" required="true">
                <md-option ng-repeat="to in tontura" value="{{to}}" >
                  {{to}}
                </md-option>
              </md-select>
            </md-input-container>
            </div>
            <div class="col-md-4">
            <md-input-container class="md-icon-float md-block">
              <label>Desmaio</label>
              <md-select ng-model="autoavaliacao.desmaio" required="true">
                <md-option ng-repeat="d in desmaio" value="{{d}}" >
                  {{d}}
                </md-option>
              </md-select>
            </md-input-container>
            </div>
        </div>   
            
        <div class="row">
            <md-checkbox ng-model="autoavaliacao.dorMuscular" aria-label="Dor muscular">
            </md-checkbox>
            <div ng-show="teste">
                <input type="text" ng-model="autoavaliacao.localDor">
            </div>
        </div>    
       
            <button>Enviar dados</button>

        </div>
    </div>
</div>