<!DOCTYPE html>
<html>
<head>
    <!-- Angular -->
    <script type="application/javascript" src="js/lib/angular.min.js"></script>
    <script src="js/lib/angular-route.min.js"></script>
    <script src="js/lib/angular-ui-router.min.js"></script>
    <script src="js/lib/angular-sanitize.min.js"></script>
    <script src="js/lib/angular-animate.min.js"></script>
    <script src="js/lib/angular-aria.min.js"></script>

    <!-- Angular Material -->
    <script src="js/lib/angular-material.min.js"></script>
    <link rel="stylesheet" href="css/angular-material.min.css">

    <!-- JQuery -->
    <script src="js/lib/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="js/lib/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Tether - Dependência obrigatória do Bootstrap -->
    <script src="js/lib/tether.min.js"></script>
    <link rel="stylesheet" href="css/tether.min.css">

    <!-- App -->
    <script src="js/app.js"></script>
    <script src="js/router/router.js"></script>
    <script src="js/router/state.js"></script>

    <!-- Controller -->
    <script src="js/controller/medicoController.js"></script>
    <script src="js/controller/pacienteController.js"></script>
    <script src="js/controller/loginController.js"></script>
    <script src="js/controller/menuController.js"></script>
    <script src="js/controller/atualizacaoController.js"></script>

    <!-- Service -->
    <script src="js/service/medicoService.js"></script>
    <script src="js/service/pacienteService.js"></script>
    <script src="js/service/loginService.js"></script>
    <script src="js/service/atualizacaoService.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="css/estilo.css">
</head>
<body ng-controller="MedicoController">
    
    <div class="container-fluid">
        <h3 class="page-header" style="color: deeppink"> Cadastro</h3>
        <form>
            
        <div class="row">
            <div class="form-group col-md-6">
                <label style="color: deeppink">Nome:</label>
                <input ng-model="medico.nome" type="text" ng-minlength="1" ng-maxlenght="40" required class="form-control" placeholder="Nome" style="color: deeppink">
            </div>
            <div class="form-group col-md-6">
                <label style="color: deeppink">Email:</label>
                <input ng-model="medico.email" type="text" ng-minlength="1" ng-maxlenght="40" required class="form-control" placeholder="Email" style="color: deeppink">
            </div>
        </div>
            
        <div class="row">
            <div class="form-group col-md-4">
                <label style="color: deeppink">CPF:</label>
                <input type="text" ng-model="medico.CPF" ng-pattern="/^[0-9]{3}.[0-9]{3}.[0-9]{3}-[0-9]{2}" placeholder="CPF" required class="form-control" style="color: deeppink">
            </div>
            <div class="form-group col-md-4">
                <label style="color: deeppink">CRM:</label>
                <input type="text" ng-model="medico.CRM" ng-minlength="4" ng-maxlength="6" placeholder="CRM" required class="form-control" style="color: deeppink">
            </div>
            <div class="form-group col-md-4">
                <label style="color: deeppink">Telefone:</label>
                <input type="text" ng-model="medico.telefone" ng-pattern="/^(0[0-9]{2})9[0-9]{4}-[0-9]{4}" placeholder="Telefone" required class="form-control" style="color: deeppink">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label style="color: deeppink">Chave:</label>
                <input type="text" ng-model="medico.chave" placeholder="Chave" required class="form-control" style="color: deeppink">
            </div>
            <div class="form-group col-md-4">
                <label style="color: deeppink">Senha</label>
                <input type="password" ng-model="medico.senha" placeholder="Senha" required class="form-control" style="color: deeppink">
            </div>
            
        </div><br/>
            
            <div class="row">
                <div class="col-md-12">
                    <button type="submit">Salvar</button>
                    <a href="cadastrarMedico.html" class="btn btn-default">Cancelar</a>
                </div>
            </div>
        
        </form>
    
    </div>
    
    
    
</body>
</html>